#PartieUn{
  display: grid;
  width: 280px;
  height: 450px;
  border: none;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 25px;
  background-color: rgb(87, 70, 234);
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
#PartieUnBis{
  width: 280px;
  height: 180px;
  border-radius: 25px;
  border: none;
  display: grid;
  align-self: end;
  background-color: rgb(29, 32, 75);
}
#PartieUn img{
    height: 100px;
    margin-left: 20px;
    border: solid 3.5px white;
    border-radius: 50%;
    margin-top: 15px;
}
#PartieUnBis p{
    display: flex;
    margin-left: 10%;
    align-items: center;
    font-size: 20px;
    opacity: 80%;
    transition: opacity 0.3s ease;
    margin-top: 0;
    margin-bottom: 0;
}
#PartieUnBis p:hover {
    opacity: 100%;
    cursor: pointer;
}
#PartieUnBis p.active {
    color: white;
    opacity: 100%;
}
#span{
    margin-top: 15px;
    font-size: 22.5px;
}
#zzz{
    margin-top: 6%;
    font-size: 45px;
}

@media (max-width: 1068px) {
  #PartieUn {
    margin-bottom: 25%;
  }
}
@media (max-width: 1600px) {
  #PartieUn {
    margin-bottom: 35%;
  }
}

