:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:rgb(13, 19, 35);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  width: 90%;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}
#PartieUn{
  display: grid;
  width: 450px;
  height: 80vh;
  border: solid 1px white;
  border-radius: 25px;
  background-color: rgb(87, 70, 234);
}
#PartieUnBis{
  width: 520px;
  height: 35vh;
  border: solid 1px white;
  border-radius: 25px;
  display: grid;
  align-self: end;
  background-color: rgb(29, 32, 75);
}
#PartieDeux{
  display: flex;
  width: 1000px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
}

